.page-heading-container {
    margin-bottom: 30px;
    margin-top: 20px;
}

.page-heading-container .title {
    color: #60a839;
    margin-bottom: 5px;
    font-weight: 200;
}

.page-heading-container .subtitle {
    margin-left: 15px;
    color: #a97c50;
    font-weight: 200;
    font-size: 80%;
}

.result {
  margin-top: 20px;
}

.message {
  margin-top: 20px;
}

.code {
    font-family: 'Courier New';
}

#html {
    height: 70px;
}
