<!DOCTYPE html>
<html>
<head>
    <title>XPath Extractor</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">

        $(function() {
            // focus path input
            var input = $('#xpath');
            input.focus();
            var val = input.val();
            input.val('').val(val);
        });

    </script>
</head>
<body>
    <div class="container">
        <div class="page-heading-container">
            <h4 class="title">XPATH EXTRACTOR</h4>
            <p class="subtitle">Find your xpath expression easy way.</p>
        </div>
        <form class="main-form" role="form" method="post">
            <div class="form-group {% if form.xpath.errors %}has-error{% endif %}">
                {{ form.xpath.label }}
                {{ form.xpath(class="form-control") }}
                {% if form.xpath.errors %}
                    {% for error in form.xpath.errors %}
                        <label class="control-label">{{ error }}</label>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group {% if form.html.errors %}has-error{% endif %}">
                {{ form.html.label }}
                {{ form.html(class="form-control code") }}
                {% if form.html.errors %}
                    {% for error in form.html.errors %}
                        <label class="control-label">{{ error }}</label>
                    {% endfor %}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <a href="/" class="btn btn-default">Clear</a>
        </form>
        {% if message %}
            <div class="message">
                {{ message }}
            </div>
        {% endif %}
        {% if result %}
            <ul class="result list-group">
                {% for line in result %}
                    <li class="list-group-item">{{ line }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
