<!DOCTYPE html>
<html>
<head>
    <title>XPath Extractor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">

        $(function() {
            // resolve input focus
            var $xpath_input = $('#xpath');
            var $html_input = $('#html');

            if ($.trim($html_input.val()) == '') {
                $html_input.focus()
            } else {
                $xpath_input.focus();
                var val = $xpath_input.val();
                $xpath_input.val('').val(val);
            }
        });

    </script>
</head>
<body>
    <div class="container">
        <div class="page-heading-container">
            <a class="head-link" href="/">
                <h4 class="title">
                        XPATH EXTRACTOR
                    <span class="subtitle">Find your xpath expression easy way.</span>
                </h4>
            </a>
        </div>
        <form class="main-form" role="form" method="post">
            <div class="form-group {% if form.html.errors %}has-error{% endif %}">
                {{ form.html.label }}
                {{ form.html(class="form-control code") }}
                {% if form.html.errors %}
                    {% for error in form.html.errors %}
                        <label class="control-label">{{ error }}</label>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group {% if form.xpath.errors %}has-error{% endif %}">
                {{ form.xpath.label }}
                {{ form.xpath(class="form-control") }}
                {% if form.xpath.errors %}
                    {% for error in form.xpath.errors %}
                        <label class="control-label">{{ error }}</label>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group {% if form.subxpath.errors %}has-error{% endif %}">
                {{ form.subxpath.label }}
                {{ form.subxpath(class="form-control") }}
                {% if form.subxpath.errors %}
                    {% for error in form.subxpath.errors %}
                        <label class="control-label">{{ error }}</label>
                    {% endfor %}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Extract</button>
            | <a href="/">Clear</a>
        </form>
        {% if message %}
            <div class="message">
                {{ message }}
            </div>
        {% endif %}
        {% if result %}
            {% if form.subxpath.data %}
                {% for i, subresults in result %}
                    <h4>
                        Results for element {{ i }}
                        <span class="label label-{{ subresults and "default" or "warning" }}">{{ subresults|length }} found</span>
                    </h4>
                    {% if subresults %}
                        <ul class="result list-group">
                            {% for line in subresults %}
                                <li class="list-group-item">{{ line }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% else %}
                <ul class="result list-group">
                    {% for line in result %}
                        <li class="list-group-item">{{ line }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
